* {
    box-sizing: border-box;
}
.header {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    background: #FA8C16;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 30px;
}

body{
    font-family: sans-serif;
    background: #E5E5E5;
}

.header-wrapper {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    margin-left: 60px;
    margin-right: auto;
}
.header-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

}

.header-menu-link {
    cursor: pointer;
    text-decoration: none;
    color: #FAFAFA;
    margin-right: 15px;
    font-size: 14px;
    line-height: 22px;
}

.input-group {
    width: 238px;
    height: 32px;
    position: relative;
    background: #FFFFFF;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #D9D9D9;
}
.search-input {
    padding-left: 12px;
    border: none;
    width: 80%;
    height: 100%;
}
.search-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    height: 100%;
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
}

.search-input[type="search"]::-moz-placeholder {color: #BFBFBF;}
.search-input[type="search"]::-webkit-input-placeholder { color: #BFBFBF; }
.search-input[type="search"]:-ms-input-placeholder { color: #BFBFBF; }
.search-input[type="search"]::-ms-input-placeholder { color: #BFBFBF; }
.search-input[type="search"]::placeholder { color: #BFBFBF; }

.content{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.posts{
    max-width: 800px;
}
.post{
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    margin-bottom: 30px;
}
.post-body{
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 0;
}
.post-title{
    margin-top: 0;
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.post-text{
    color: #262626;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}
.tags{
    margin-bottom: 22px;
}
.tag{
    color: #BFBFBF;
    font-size: 14px;
    line-height: 22px;
    margin-right: 10px;
    text-decoration: none;
}
.post-footer{
    display: flex;
    justify-content: space-between;
    background: #FAFAFA;
    border-top: 1px solid #E8E8E8;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.post-button .icon{
    fill: #8C8C8C;
}
.post-buttons{
    display: flex;
    align-items: center;
}
.post-button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #8C8C8C;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    margin-right: 19px;
}
.icon-like, .icon-comment{
    margin-right: 6px;
}
.post-autors{
    display: flex;
    align-items: center;
    text-align: right;
}
.autor-avatar{
    width: 34px;
    height: 34px;
    margin-left: 9px;
    border-radius: 4px;
}
.autor-username{
    display: block;
    color: #8C8C8C;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
}
.post-time{
    color: #BFBFBF;
    font-size: 12px;
    line-height: 20px;
}
